@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-Regular.ttf');
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-weight: 400;
  /* letter-spacing: 0.075em; */
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif !important;
  padding: 0;
  margin: 0;
  color: #3F3F3F !important;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold !important;
}